.container-login {
	width: 340px;
	height: 460px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -170px;
	z-index: 9999;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 6px var(--box-shadow-login);
	border-radius: 12px;
}

.login-form {
	width: 280px;
	margin: 0 auto;
	// border: 1px solid #6D0070;
}

.login-form__header {
	display: flex;
	justify-content: center;
	font-size: 20px;
	margin: 25px auto;
	color: var(--color-purple);
	font-weight: bold;
}

.login-form__items {
	margin-top: 40px;
	margin-bottom: 30px;
	width: 100%;
}

.login-form__item {
	margin: 8px 0;
}
