<div class="container__routers">
	<div class="routers__button" onclick="goToPage('login')">
		{{> button type="button" lable="Вход" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('singup')">
		{{> button type="button" lable="Регистрация" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('page404')">
		{{> button type="button" lable="404" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('page500')">
		{{> button type="button" lable="505" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('profile')">
		{{> button type="button" lable="Профиль" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('profileEdit')">
		{{> button type="button" lable="Редактирование профиля" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('profilePassword')">
		{{> button type="button" lable="Изменить пароль" primary="primary"}}
	</div>
	<div class="routers__button" onclick="goToPage('main')">
		{{> button type="button" lable="Чаты" primary="primary"}}
	</div>
</div>
