.button-container {
	display: flex;
}

.button-container__button {
	font-weight: bold;
	width: 100%;
	padding: 16px;
	line-height: 14px;
	font-weight: bold;
	outline: 0 none;
	color: #6D0070;
	border: solid 1px #6D0070;
	border-radius: 8px;
	background: white;
	cursor: pointer;
	transition-duration: 0.3s;
	transition-timing-function: ease;

	&-primary {
		background: #6D0070;
		color: white;
	}
}
