<div class="container-login">
	<form class="login-form" action="login">
		<div class="login-form__header">Вход</div>
		{{> input placeholder="Логин" name="login" textError="минимум 3 символа"}}
		{{> input placeholder="Пароль" name="password" textError="минимум 3 символа"}}
		<div class="login-form__items">
			<div class="login-form__item">
				{{> button primary="primary" lable="ВОЙТИ"}}
			</div>
			<div onclick="goToPage('singup')" class="login-form__item">
				{{> button type="button" lable="ЗАРЕГИСТРИРОВАТЬСЯ"}}
			</div>
		</div>
	</form>
</div>
