.wraper {
	display: flex;
	width: 100%;
	max-width: 1600px;
	height: calc(100% - 38px);
	position: relative;
	margin: 0 auto;
}

.chat-container {
	display: flex;
	flex-direction: column-reverse;
}

.chat {
	width: calc(100% - 320px);
	padding: 0;
	border: 1px solid var(--light);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFF;
}
