.profile-field {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-primary-border);
	margin: 10px auto;
	font-size: 16px;
}

.profile-field__lable {
	margin: 5px 0;
}

.profile-field__data {
	margin: 5px 0;
}

.profile-options__edit {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid var(--color-primary-border);
	margin: 10px auto;
	font-size: 16px;
}

.profile-options__lable {
	margin: 5px 0;
	text-decoration: none
}

.profile-options__exit {
	margin: 5px 0;
	text-decoration: none;
	color: var(--color-red);
}
