/** Proxima Nova **/

@font-face {
	font-family: "ProximaNova";
	src:
		local("Proxima Nova Regular"),
		local("ProximaNova-Regular"),
		local("Proxima Nova Rg"),
		local("Proxima Nova обычный"),
		url("/public/fonts/ProximaNova-Regular.woff2") format("woff2"),
		url("/public/fonts/ProximaNova-Regular.woff") format("woff"),
		url("/public/fonts/ProximaNova-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// @font-face {
// 	font-family: "ProximaNova";
// 	src:
// 		local("Proxima Nova Regular Italic"),
// 		local("ProximaNova-RegularIt"),
// 		url("../../public/fonts/ProximaNova-RegularIt.woff2") format("woff2"),
// 		url("../../public/fonts/ProximaNova-RegularIt.woff") format("woff"),
// 		url("../../public/fonts/ProximaNova-RegularIt.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "ProximaNova";
// 	src:
// 		local("Proxima Nova Bold"),
// 		local("ProximaNova-Bold"),
// 		url("../../public/fonts/ProximaNova-Bold.woff2") format("woff2"),
// 		url("../../public/fonts/ProximaNova-Bold.woff") format("woff"),
// 		url("../../public/fonts/ProximaNova-Bold.ttf") format("truetype");
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "ProximaNova";
// 	src:
// 		local("Proxima Nova Bold Italic"),
// 		local("ProximaNova-BoldIt"),
// 		url("../../public/fonts/ProximaNova-BoldIt.woff2") format("woff2"),
// 		url("../../public/fonts/ProximaNova-BoldIt.woff") format("woff"),
// 		url("../../public/fonts/ProximaNova-BoldIt.ttf") format("truetype");
// 	font-weight: bold;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "ProximaNova";
// 	src:
// 		local("Proxima Nova Black"),
// 		local("ProximaNova-Black"),
// 		url("../../public/fonts/ProximaNova-Black.woff2") format("woff2"),
// 		url("../../public/fonts/ProximaNova-Black.woff") format("woff"),
// 		url("../../public/fonts/ProximaNova-Black.ttf") format("truetype");
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "ProximaNova";
// 	src:
// 		local("Proxima Nova Black Italic"),
// 		local("ProximaNova-BlackIt"),
// 		url("../../public/fonts/ProximaNova-BlackIt.woff2") format("woff2"),
// 		url("../../public/fonts/ProximaNova-BlackIt.woff") format("woff"),
// 		url("../../public/fonts/ProximaNova-BlackIt.ttf") format("truetype");
// 	font-weight: 900;
// 	font-style: italic;
// }
