:root {
	--color-primary: #6D0070;
	--color-primary-border: #6c007070;
	--color-white: white;
	--color-red: red;
	--color-black: black;
	--color-fuchsia: fuchsia;

	--box-shadow-login: rgba(85, 11, 119, 0.14);
	--box-shadow-modal: rgba(0, 0, 0, 0.14);

}
