{{{sidebar}}}
<div class="pageProfile__items">
	<div class="pageProfile__avatar">
		<div class="pageProfile__photo">
			{{{avatar}}}
			<span>поменять<br>аватар</span>
		</div>
		<div class="pageProfile__firstName">{{{UserName}}}</div>
	</div>
	{{{profileFieldsEdit}}}
</div>
