{{#extend "routers" }}
{{/extend}}
{{#extend "layoutProfile" }}
<form>
	{{#content "body"}}
	{{#each fields}}
	{{> input placeholder=placeholder name=name}}
	{{/each}}
	{{/content}}
	{{#content "footer"}}{{> button type="submit"}}{{/content}}
</form>
{{/extend}}
