.button-container {
	display: flex;
}

.button-container__button {
	font-weight: bold;
	width: 100%;
	padding: 16px;
	line-height: 14px;
	font-weight: bold;
	outline: 0 none;
	color: var(--color-primary);
	border: solid 1px var(--color-primary);
	border-radius: 8px;
	background: var(--color-white);
	cursor: pointer;
	transition-duration: 0.3s;
	transition-timing-function: ease;

	&-primary {
		background: var(--color-primary);
		color: var(--color-white);
	}
}
