.input-container {
	width: 100%;
	position: relative;
	margin: 8px 0;
}


.label {
	height: 50px;
	position: relative;
	width: 100%;
	margin-top: 25px;

	&>div {
		position: relative;
		height: 50px;

		& input {
			border-radius: 8px;
			font-size: var(--font-size-16);
			height: 100%;
			outline: 0;
			padding: 16px;
			border: 1px solid var(--color-purple);
			width: 100%;
		}

		& span {
			position: absolute;
			padding: 0 3px;
			background-color: var(--color-white);
			color: var(--color-purple);
			top: 16px;
			left: 16px;
			line-height: 18px;
			pointer-events: none;
			transform-origin: 0 50%;
			transition: transform 200ms,
		}

		input:focus~span,
		input:not(:placeholder-shown)~span {
			transform: translateY(-25px) translateX(5px) scale(0.8);
		}
	}

	&>.error {
		color: var(--color-red);
		position: absolute;
		font-size: var(--font-size-10);
		top: 52px;
		left: 7px;
	}
}

.input-container__placeholder {
	position: absolute;
	background-color: var(--color-white);
	color: var(--color-purple);
	top: 16px;
	left: 16px;

	&_modified {
		position: absolute;
		background-color: var(--color-white);
		color: var(--color-purple);
		padding: 0 5px;
		top: -7px;
		left: 7px;
		font-size: 12px;
	}
}

.input-container__input {
	width: 100%;
	line-height: 16px;
	font-size: var(--font-size-16);
	border: none;
	padding: 16px;
	border-radius: 8px;
	outline: none;
}

.input-container__error {
	display: none;
	color: var(--color-red);

	&-active {
		display: block;
	}
}

.input-search {
	border-radius: 8px;
	font-size: var(--font-size-18);
	height: 48px;
	outline: 0;
	padding: 16px;
	border: 1px solid var(--color-purple);
	width: 100%;
}

.input-newChat {
	border-radius: 8px;
	font-size: var(--font-size-18);
	height: 48px;
	outline: 0;
	padding: 16px;
	border: 1px solid var(--color-purple);
	width: 100%;
	margin-bottom: 25px;
}
