<div class="inputField-container">
	<label class="inputField-container__label">
		<div class="inputField-container__placeholder">{{ placeholder }}</div>
		<input class="inputField-container__input" type="text" name="{{ name }}"></input>
	</label>
	<div class="inputField-container__error">
		<span>{{ textError }}</span>
	</div>
</div>
