.modal {
	width: 340px;
	height: 257px;
	text-align: center;
	display: block;
	background: var(--color-white);
	box-shadow: 0 0 6px var(--box-shadow-modal);
	border: 0;
	border-radius: 12px;
	top: 50%;
	left: 50%;
	margin: -128.5px 0 0 -170px;
	opacity: 0;
	transition: all 1s linear;
	visibility: hidden;
	position: fixed;

	&::backdrop {
		background-color: var(--color-fuchsia);
	}
}

.modal[open] {
	transform: sale(1);
	opacity: 1;
	visibility: visible;
}

.modal__inner {
	padding: 1em 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.modal__lable {
	margin: 30px;
	font-weight: bold;

	&.error {
		color: var(--color-red);
	}
}

.modal__button {
	margin: 30px 0 auto;
	width: 100%;
}

.modal__error {
	color: var(--color-red);
	margin: 10px;
}
