<dialog class="modal" open>
	<form method="post" class="modal__form" enctype="multipart/form-data">
		<div class="modal__inner">
			<div class="modal__lable">Загрузите файл</div>
			<div class="modal__input">
				<input class="blabla" type="file" name="file" size="1" accept="image/*,image/jpeg">
			</div>
			<div class="modal__button">
				{{> button type="submit" lable="Поменять" primary="primary"}}
			</div>
			<div class="modal__error">нужно выбрать файл</div>
	</form>
	</div>
</dialog>
