<div class="input-container">
	<label class="input-container__label">
		<div class="input__placeholder">{{ placeholder }}</div>
		<input class="input" type="text" name="{{ name }}"></input>
	</label>
	<div class="input__error">
		<span>{{ textError }}</span>
	</div>
</div>
