/** Proxima Nova **/
/* stylelint-disable */

@font-face {
	font-family: "ProximaNova";
	src:
		local("Proxima Nova Regular"),
		local("ProximaNova-Regular"),
		local("Proxima Nova Rg"),
		local("Proxima Nova обычный"),
		url("/public/fonts/ProximaNova-Regular.woff2") format("woff2"),
		url("/public/fonts/ProximaNova-Regular.woff") format("woff"),
		url("/public/fonts/ProximaNova-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* stylelint-enable */
