/* stylelint-disable */

@import "fonts.scss";

html,
body {
    font-family: "ProximaNova", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue";
}

/* stylelint-enable */
