<form class="singup-form" action="login">
	<div class="singup-form__header">Регистрация</div>
	<div class="singup-form__inputs">
		{{#each inputs}}
		{{{this}}}
		{{/each}}
	</div>
	<div class="singup-form__items">
		{{#each buttons}}
		<div class="singup-form__item">
			{{{this}}}
		</div>
		{{/each}}
	</div>
</form>
