{{#extend "routers" }}
{{/extend}}
<div class="container-singup">
	<form class="login-form" action="login">
		<div class="login-form__header">Регистрация</div>
		{{#each fields}}
		{{> input placeholder=placeholder name=name textError=textError}}
		{{/each}}
		<div class="login-form__items">
			<div class="login-form__item">
				{{> button primary="primary" lable="ЗАРЕГИСТРИРОВАТЬСЯ"}}
			</div>
			<div onclick="goToPage('login')" class="login-form__item">
				{{> button type="button" lable="ВОЙТИ"}}
			</div>
		</div>
	</form>
</div>
