<form class="login-form" action="login">
	<div class="login-form__header">Регистрация</div>
	{{#each inputs}}
	{{{this}}}
	{{/each}}
	<div class="login-form__items">
		{{#each buttons}}
		<div class="login-form__item">
			{{{this}}}
		</div>
		{{/each}}
	</div>
</form>
