<div class="sideBar">
	<img src="{{back}}" alt="назад">
</div>
<div class="pageProfile__container">
	<div class="pageProfile__items">
		<div class="pageProfile__avatar">
			<div class="pageProfile__photo">
				<img src="{{avatar}}" alt="аватар">
				<span>поменять<br>аватар</span>
			</div>
			<div class="pageProfile__firstName">{{UserName}}</div>
		</div>
		<div class="pageProfile__body">{{#block "body"}}{{/block}}</div>
		<div class="pageProfile__footer">{{#block "footer"}}{{/block}}</div>
	</div>
</div>
